.joinWrap {
    max-width : 400px;
    text-align: center;
    margin : 100px auto;
}
.terms {
    height : 300px;
    border : 1px solid black;
}
.joinInput  {
    text-align: left;
}
.joinInput > label {
    font-size : 15px;
}
.joinInput > input {
    width : 100%;
    font-size: 15px;
    padding : 10px;
    box-sizing: border-box;
    margin : 4px 0 4px 0;
    border : none;
    border-bottom: 1px solid black;
    outline:none;
}


.join {
    width: 100%;
    display: inline-block;
    border : 1px solid black;
    border-radius: 20px;
    font-size: 1.2rem;
    padding : 10px;
    text-decoration: none;
    color : white;
    cursor: pointer;
    background-color: black;
}

.join:visited{
    color : white;
}

.terms{
    border: 1px black solid;
    height : 200px;
    text-align: center;
    line-height: 200px;
    margin : 0 0 20px 0;
}
.hidden {
    display : none;
}

.errMsg {
    font-size: 12px;
    color : red;
    margin: 0;
    padding : 0 5px 0 5px;
}
.joinInput > em {
    color: red
}

#nicknameInput, #emailInput , #phoneInput {
    width : 70%;
    font-size: 15px;
    padding : 10px;
    box-sizing: border-box;
    margin : 4px 0 4px 0;
}

.checkBtn {
    width : 25%;
    margin : 0px 2.5% 0px 2.5%;
    box-sizing: border-box;
    border-radius: 4rem;
    cursor: pointer;

}
