#loginWrap {
    max-width: 400px;
    background-color: white;
    margin : 140px auto;
    text-align: center;
}

#loginForm {
    text-align: center;
}
#loginForm > input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom : 10px;
    padding : 10px;
    font-size: 18px;
}

#loginBtn{
    width: 100%;
    box-sizing: border-box;
    color :white;
    padding : 10px;
    font-size: 18px;
    background-color: black;
    cursor: pointer;

}

#loginBtn:hover {
    background-color: #3a3a3a;
}

#socialLogin {
    text-align: center;
}
#socialLogin > button {
    width : 50px;
    height : 50px;
    margin: 0 10px 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

#signUp {
    margin-top: 20px;
    text-align: center;
}
#join {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border : 1px solid black;
    border-radius: 20px;
    font-size: 1.2rem;
    padding : 10px;
    text-decoration: none;
    color : black;
}

#join:visited{
    color : black;
}
#find > ul{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
}
#find > ul > li{
    width : 50%;
    text-align: center;
}
#find > ul > li > a {
    text-decoration: none;
    color : gray;
}
#find > ul > li > a:visited{
    color :gray;
}
#findPassword {
    border-left : 1px solid gray;
}

.errmsg {
    color : red;
    font-size: 12px;
    text-align: start;
    margin-bottom: 8px;
}

.nonemsg {
    display : none 
}

.loginLogo {
    height : 50px;
    margin-bottom: 15px;
}