.header {
    margin-top: 0px;
}

.headerMenu {
    padding : 8px;
    margin : 0;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
}

.headerLink {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.headerItem { 
    font-size: 14px;
    margin : 0px 20px 0px 20px
}
