.nav{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}
.nonDropDownNav {
    display: flex;
    margin: 0px 200px 0px 200px;
    padding : 8px;
    align-items: center;
}

.navMenu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px;
    align-items: center;
    margin : 0px;

}

.navItem {
    margin : 0 20px 0 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color : black;
}

.navLink {  text-decoration: none;}
.navLink:visited {  text-decoration: none;}
.navLink:hover { text-decoration: none; }
.navLink:focus { text-decoration: none; }
.navLink:hover, .navLink:active { text-decoration: none; }

.navLogo {
    height: 32px;
    margin: 5px 20px 5px 0;
}

.community{
    cursor: pointer;
    color : rgba(220,42,42,0.9);
}

.fixedNav {
    position: fixed;
    background-color: black;
    top : 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.fixedNavItem {
    color : white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin : 0 20px 0 20px;
}

.dropDownNav {
    display:none;
    height: 200px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
}

.displayDropDownNav{
    height: 200px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
}