
.poster > ul {
    list-style: none;
    padding : 0;
    display: flex;
}

.poster > ul > li > img {
    margin : 0 25px 0px 25px;
    width: 270px;
    height : 350px;
}

.hiddenImg{
    display : none;
    margin : 0 50px 0px 0px;
    width: 300px;
    height : 400px;
}

.arrowBtn {
    display: flex;
    align-items: center;
}
.arrowImg{
    width : 50px;
    height : 50px;
    cursor : pointer;
}

.hiddenBtn {
    width : 50px;
    height: 50px;
    visibility: hidden;
}



